.perfil1 {
    background-color: rgb(175, 175, 211);
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.article {
    background-color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}

#img {
    height: 200px;
    width: 200px;

}



